<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome!</title>
  </head>
  <body>
    <h1>Hey!</h1>
    <p>Fill out the form, before it's too late! (for what? no idea)</p>
    <form action = "/login" method = "post" id="simple_form">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" /><br><br>
    <label for="age">Age:</label><br>
    <input type="text" id="age" name="age" /><br><br>
    <label for="ninja">Favorite SoftDes NINJA:</label><br>
    <input type="text" id="ninja" name="ninja" /><br><br>
    <input type="submit" value="Submit">
    </form>
  </body>
</html>
